/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}
figcaption {  
        font-family: poppins, sans-serif;  
        padding: 1em 1.25em;
        font-weight:400;  
        font-style:italic;  
    }
h1 {  
        background-color:rgb(253, 143, 0);
        padding:.5em .5em 0em .5em;
        font-family: Sutro, serif;  
        font-size: 2.25em;
        font-weight:bold;  
        font-style:bold ;  
        color: rgb(240, 248, 255);
    }
h2 {  
        background-color:rgb(253, 143, 0);
        padding:.5em .5em 1em 1em;
        font-family: Sutro, serif;  
        font-size: 1.25em;
        font-weight: ;   
        color:rgb(239, 217, 183)
    }
h3 {  
        font-family: sutro, sans-serif;  
        text-transform: uppercase;
        letter-spacing: .1em;
        padding: 0em 1em;
        font-size: 1.25em; 
        color:rgb(253, 143, 0);
    }
ul{  
        font-family: poppins, serif; 
        padding:.5em .5em 1em 1em; 
        list-style-type: disc;
        font-size: 1em;
    }
ol{  
        font-family: poppins, serif; 
        padding:.5em .5em 1em 1em; 
        list-style-type: decimal;
        font-size: 1em;
    }
footer{  
        font-family: poppins, serif;  
        background-color:rgb(253, 143, 0);
        padding:1em 1em; 
        font-size: 1em;
        color:rgb(255, 255, 255);
    }
li{ 
    margin: .5em;
}




/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
